.obj/
*.o
*.out
*.exe
CPP00/ex00/megaphone
CPP00/ex01/megaphone
.DS_Store
CPP00/ex01/PhoneBook
CPP01/ex00/Zombie
CPP01/ex01/Zombie
CPP01/ex02/Brain
CPP01/ex03/Violence
CPP01/ex04/Replace
CPP01/ex05/Harl
CPP01/ex06/Harl
CPP05/ex00/Bureaucrat
CPP05/ex01/Bureaucrat
CPP03/test/
CPP04/test/
